---
layout: default
---

{% include header.html %}

<section class="work">
  <div class="container">
    <div class="row">
      <div class="col-title col-md-12 col-sm-12">
        <h1>Recent work</h1>
      </div>
    </div>

    <div class="row">
      <a href="/work/mamae">
        <div class="work-item col col-md-6 col-sm-6">

          <div class="work-item-main">
            <img src="/images/work/mamae/main.png"></img>
          </div>

          <div class="work-item-about">
            <div class="work-item-about-content">
              <h1>Mamae</h1>
              <p>
                Concept, Information Architecture and UX & UI Design
              </p>
            </div>
          </div>
        </div>
      </a>

      <a href="/work/ilearn">
        <div class="work-item col col-md-6 col-sm-6">
          <div class="work-item-main">
            <img src="/images/work/ilearn/main.png"></img>
          </div>

          <div class="work-item-about">
            <div class="work-item-about-content">
              <h1>iLearn: English</h1>
              <p>
                Concept, Information Architecture and UX & UI Design
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="row">
      <a href="/work/elviovicosa">
        <div class="work-item col col-md-6 col-sm-6">
          <div class="work-item-main">
            <img src="/images/work/elviovicosa/main.png"></img>
          </div>

          <div class="work-item-about">
            <div class="work-item-about-content">
              <h1>elviovicosa.com</h1>
              <p>
                UX & UI Design
              </p>
            </div>
          </div>
        </div>
      </a>

      <a href="/work/movie-discovery">
        <div class="work-item col col-md-6 col-sm-6">
          <div class="work-item-main">
            <img src="/images/work/movie-discovery/main.png"></img>
          </div>

          <div class="work-item-about">
            <div class="work-item-about-content">
              <h1>Movie Discovery</h1>
              <p>
                UX & UI Design
              </p>
            </div>
          </div>
        </div>
      </a>

    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-title col-md-12 col-sm-12">
        <h1>Recent posts</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-title col-md-12 col-sm-12">
        {% for post in site.posts %}
          {% if post.category == 'post' %}
            <div class="post-list">
              <a class="post-list-title" href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
              </a>

              <span class="post-list-date">Published on: {{ post.date | date_to_string }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
