<footer class="footer separator">
  <div class="container">
    <div class="row">
      <div class="col avatar col-md-5 col-sm-5">
        <img src="/images/avatar.jpg" />
      </div>

      <div class="col about-me col-md-7 col-sm-7 col-xs-12">
        <h2>About me</h2>

        <p>
          My name is Danielle Vicosa. I live and work in Berlin, Germany.
          I design mobile and web applications and my passion is to transform challenging
          requirements into human and intuitive experiences. I believe that a good
          design can impact other people's lives in a positive and useful way.
        </p>

        <ul class="social-channel">
          <li><a title="Behance" href="http://behance.net/danielle_vicosa"><i class="fa fa-behance"></i></a></li>
          <li><a title="Twitter" href="https://twitter.com/daniellevicosa"><i class="fa fa-twitter"></i></a></li>
          <li><a title="Linkedin" href="http://www.linkedin.com/pub/danielle-vicosa/77/7a6/631/"><i class="fa fa-linkedin"></i></a></li>
          <li><a title="Pinterest" href="http://www.pinterest.com/daniellebeerfar/"><i class="fa fa-pinterest"></i></a></li>
          <li><a title="E-mail" href="mailto:contact@daniellevicosa.com"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div
    </div>
  </div>
</footer>
