<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {% if page.title %}
      Danielle Vicosa - {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="My name is Danielle Vicosa and live and work in Berlin, Germany.
              I design mobile and web applications and my is passion to transform challenging
              requirements into human and intuitive experiences. I believe that a good
              design can impact other peoples lives in a positive and useful way.">
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="/images/favicon.png">

  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="http://www.daniellevicosa.com{{ page.url }}" />

  <script src="{{ "/javascript/main.js" | prepend: site.baseurl }}"></script>
</head>
